 .carta {
    /* background-color: red; */
    width: 280px;
    aspect-ratio: 16/9;
    height: 380px;
    background-size: cover;
    background-position: center;

    margin-top:2svh;
}

/* .copas, .espadas, .ouros {
    pra qualquer coisa no futuro
} */

/*Evolutivas*/
.xA.copas {
    background-image: url(../Icons/Cartas/AC.svg);
}

.x2.copas {
    background-image: url(../Icons/Cartas/2C.svg);
}

.x3.copas {
    background-image: url(../Icons/Cartas/3C.svg);
}

.x4.copas {
    background-image: url(../Icons/Cartas/4C.svg);
}

.x5.copas {
    background-image: url(../Icons/Cartas/5C.svg);
}

.x6.copas {
    background-image: url(../Icons/Cartas/6C.svg);
}

.x7.copas {
    background-image: url(../Icons/Cartas/7C.svg);
}

.x8.copas {
    background-image: url(../Icons/Cartas/8C.svg);
}

.x9.copas {
    background-image: url(../Icons/Cartas/9C.svg);
}

.x10.copas {
    background-image: url(../Icons/Cartas/10C.svg);
}

.xJ.copas {
    background-image: url(../Icons/Cartas/JC.svg);
}

.xQ.copas {
    background-image: url(../Icons/Cartas/QC.svg);
}

.xK.copas {
    background-image: url(../Icons/Cartas/KC.svg);
}


/*Inoportunas*/
.xA.espadas {
    background-image: url(../Icons/Cartas/AE.svg);
}

.x2.espadas {
    background-image: url(../Icons/Cartas/2E.svg);
}

.x3.espadas {
    background-image: url(../Icons/Cartas/3E.svg);
}

.x4.espadas {
    background-image: url(../Icons/Cartas/4E.svg);
}

.x5.espadas {
    background-image: url(../Icons/Cartas/5E.svg);
}

.x6.espadas {
    background-image: url(../Icons/Cartas/6E.svg);
}

.x7.espadas {
    background-image: url(../Icons/Cartas/7E.svg);
}

.x8.espadas {
    background-image: url(../Icons/Cartas/8E.svg);
}

.x9.espadas {
    background-image: url(../Icons/Cartas/9E.svg);
}

.x10.espadas {
    background-image: url(../Icons/Cartas/10E.svg);
}

.xJ.espadas {
    background-image: url(../Icons/Cartas/JE.svg);
}

.xQ.espadas {
    background-image: url(../Icons/Cartas/QE.svg);
}

.xK.espadas {
    background-image: url(../Icons/Cartas/KE.svg);
}

/*Adaptativas*/
.xA.ouros {
    background-image: url(../Icons/Cartas/AO.svg);
}

.x2.ouros {
    background-image: url(../Icons/Cartas/2O.svg);
}

.x3.ouros {
    background-image: url(../Icons/Cartas/3O.svg);
}

.x4.ouros {
    background-image: url(../Icons/Cartas/4O.svg);
}

.x5.ouros {
    background-image: url(../Icons/Cartas/5O.svg);
}

.x6.ouros {
    background-image: url(../Icons/Cartas/6O.svg);
}

.x7.ouros {
    background-image: url(../Icons/Cartas/7O.svg);
}

.x8.ouros {
    background-image: url(../Icons/Cartas/8O.svg);
}

.x9.ouros {
    background-image: url(../Icons/Cartas/9O.svg);
}

.x10.ouros {
    background-image: url(../Icons/Cartas/10O.svg);
}

.xJ.ouros {
    background-image: url(../Icons/Cartas/JO.svg);
}

.xQ.ouros {
    background-image: url(../Icons/Cartas/QO.svg);
}

.xK.ouros {
    background-image: url(../Icons/Cartas/KE.svg);
}