:root {
    font-size: 24px;

    --number-size: 4rem;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: var(--margin-top-size);
    margin-left:2vw;
    /* margin-right:2vw; */
}

div {
    display: flex;
}

main {
    /* display: flex; */
    flex-wrap: wrap;
    width: 50vw;
}

#menu {
    display: inline-block;
    height: fit-content;
    align-content: flex-start;
    padding-top: 5%;
}

/*Botões*/

input[type=button] {
    cursor:pointer;
}

input[type=checkbox] {
    height: 44px;
    width: 44px;
}

#manterDado + p {
    font-size: 18px;
    align-items: center;
    align-content: center;
    margin-left:1%;
}

input[type=number] {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    width: 2em;
    height: 2em;
}

#rollDel {
    gap: 3%;
    width: 12rem;
}

#roll {
    background-color: var(--roll-button-background-color);
    width: 70%;
    height: 5rem;
    font-weight: bold;
    border: var(--roll-button-border-color);
    font-size: 48px;
    border-radius: 0 0 0 10px;
}

#limparResult {
    background-image: url(../Icons/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--roll-button-background-color);
    width: 30%;
    height: 5rem;
    font-weight: bold;
    border: var(--roll-button-border-color);
    border-radius: 0 10px 10px 0;
}



input#limparResult + p {
    display: none;
    position: absolute;
    transform: translateY(-100%);
    background-color: var(--comentario-background-color);
    color: var(--comentario-text-color);
    padding:0.2%;
    z-index: 2;
}

#limparResult:hover + p, #limparResultBranco:hover + p {
    display: block;
}

#limparResult:hover + p:hover, #limparResultBranco:hover + p:hover {
    display: none;
}

#limparResultBranco {
    background-image: url(../Icons/trashnone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--roll-button-background-color);
    width: 20%;
    height: 2rem;
    font-weight: bold;
    border: var(--roll-button-border-color);
    border-radius: 10px 10px 0 0;
}

input#limparResultBranco + p {
    display: none;
    position: absolute;
    transform: translateY(-250%);
    background-color: var(--comentario-background-color);
    color: var(--comentario-text-color);
    padding:0.2%;
    z-index: 2;
}
/* Dados "menu"*/

#dados {
    justify-content: space-between;
    width: 90%;
}

#dados > div {
    width: 140px;
    height: calc(140px + 3rem);
    display: flex;
    flex-direction: column;
}

#dados img {
    position: absolute;
    top:calc(2.5rem + var(--margin-top-size));
    z-index: 0;
    pointer-events: none;
}

#dados input {
    z-index: 2;
    justify-self: center;
    align-self: center;

    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    transform: translateX(5%);
    font-size: 48px;
}

/*Dados literais*/

#dados .rollOnce {
    width: fit-content;
    font-size: 48px;
    text-align: center;
    color:white;
    font-weight: bold;
    /* transition: 1s background-color ease-in-out; */
    background-color: color-mix(in srgb, #000 20%, transparent 80%);
    border-radius: 10px;
}

#dados .rollOnce:hover {
    background-color: color-mix(in srgb, #101 40%, transparent 60%);
}

.x6, .x10, .x12 {
    transition: 1s all ease-in-out;
    color: black;
    margin: 5px;

    height: calc(max(16svh, 100px));
    width: calc(max(16svh, 100px));

    align-items: center;
    justify-content: center;
    text-align: center;
}

.x6 {
    background-color: white;
}

.x10 {
    background-image: url(../Icons/Dados/x10.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.x12 {
    background-image: url(../Icons/Dados/x12.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*Dados fim*/



/* Mesa */

aside {
    border: 10px transparent solid;
    position: absolute;
    right:5%;
    top: 5%;
}

#mesa {
    width: calc(min(80svh, 80vw));
    min-height: calc(max(80svh, min(60vw, 00vh)));
    /* height: calc(max(80svh, min(60vw, 00vh))); */
    max-height: fit-content;
    background-color: var(--mesa-background-color);
    border: 10px var(--mesa-border-color) dashed;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    gap: 2%;
}

#total {
    position: absolute;
    right:5%;
    top: 0;
    width: 100%;
    right: 0;
    justify-content: space-evenly;
    background-color: var(--comentario-background-color);
    color: var(--comentario-text-color);
    border-radius:  10px 10px 0 0;
    transform: translateY(-100%);
    display: flex;
    flex-wrap: wrap;
}

#mesa > div:hover .desc {
    display: flex;
}

#mesa > div:hover .desc:hover {
    display: none;
}

.desc, .desc:hover{
    display: none;
    transform: translate(0, 100%);
    background-color: var(--comentario-background-color);
    color: var(--comentario-text-color);
    position: absolute;
    padding:2%;
    z-index:0;
    width: max-content;
}

#mesa > div {
    cursor: pointer;
}

#textarea {
    font-size: 1rem;
    resize: none;
}

#cartasAssm {
    background-color: transparent;
    width: 4rem;
    height: 5rem;
    font-weight: bold;
    border: var(--roll-button-border-color);
    font-size: 48px;
    border-radius: 10px;
    background-image: url(../Icons/Dados/x10.svg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

#iconAssm {
    /* width: 4rem; */
}

#cartasAssm + h3 {
    display: none;
    position: absolute;
    transform: translateX(20%);

}

#cartasAssm:hover + h3 {
    display: flex;
}

#voltar {
    position: absolute;
    left: 1%;
    top: 1%;
}




@media (max-width: 1580px) {
    aside {
        top: calc(max(25%, 70vh));
        right: auto;
        width: 90%;
    }
    #mesa {
        width: 98%;
    }
    main {
        width: 99%;
    }
    #dados {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    aside {
        top: calc(max(25%, 80vh) + 100 - 100vw);
        right: auto;
        width: 90%;
    }
    #mesa {
        width: 98%;
    }

    main {
        width: 98%;
    }
    #dados {
        width: 100%;
    }
    /* body {
        width: 100%;
        height: 100%;
    } */
}



@media (max-width: 500px) {
    textarea {
        display: none;
    }
}

@media (max-width: 378px) {
    aside {
        top: calc(max(25%, 100vh));
        right: auto;
        width: 90%;
    }
    #mesa {
        width: 98%;
    }

    main {
        width: 99%;
    }
    #dados {
        width: 100%;
    }
    body {
        width: 100%;
        height: 100%;
    }
}