:root {
    --background-color: #282828;
    --text-color: #fff;
    --mesa-background-color: #141414;
    --mesa-boeder-color: #181818;
    --comentario-background-color: #f2f2f2;
    --comentario-text-color: #141414;
}