:root {
    --background-color: #282828;
    --text-color: #fff;

    --mesa-background-color: #141414;
    --mesa-border-color: #181818;

    --comentario-background-color: #f2f2f2;
    --comentario-text-color: #141414;

    --roll-button-background-color: #f7dec8;
    --roll-button-border-color: #f5deb3;



    --margin-top-size: 2vw;
}